<div class="row">
    <h3>Hard && Soft skills</h3>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="95"
    [radius]="60"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="55"
    [imageWidth]="55"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="55"
    [imageWidth]="55"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="80"
    [radius]="60"
    [showUnits]="false"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="70"
    [radius]="60"
    [showUnits]="false"
    [imageSrc]="'../assets/eng.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>

   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="95"
    [radius]="60"
    [title]="'Responsabilidad'"
    [titleFontSize]="'0.8em'"
    [titleColor]="'black'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [title]="'Cretividad'"
    [titleColor]="'black'"
    [titleFontSize]="'0.8em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4 ">
    <circle-progress
    [percent]="80"
    [radius]="60"
    [title]="'Empatia'"
    [titleFontSize]="'0.8em'"
    [titleColor]="'black'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>

   </div>
  
   

</div>
