<div class="Experiencia">
    <h3>
        Experiencia
    </h3>
    <br>
    <ul class="lista" style="list-style:none">
        <li>
                         
         <div class="alineado"  >
              <img class="izquierda" src="assets/img/centro.jpg" alt="">
             <aside >
                 <h6>Psicopedagoga</h6>
                 <p class="primero">
                  Centro de Aprendizaje - Tratamiento en dificultades especificas del Aprendizaje
                 </p>
                 <p class="segundo">
                     Abril 2021/Actualmente
                 </p>
             </aside>
          </div>
         </li>
        <li>
            <div class="alineado" id="text-conin">
             <img class="izquierda" src="assets/img/CONIN.JPG" alt="">

             <aside>
                 <h6>Psicopedagoga</h6>
                 
                 <P class="primero"> CONIN - Estimulación neurolingüista en niños de edad infantil con bajos recursos</P>
             <p class="segundo">Abril 2021 - Agosto 2021</p>
             </aside>
            </div>
           
        </li>
        <li>
           <div class="alineado" id="text-bmz">
     
             <img class="izquierda" src="assets/img/inm.png" alt="">
             <aside>
                 <h6>Community Manager</h6>
             <p class="primero">Inmobiliaria Bmz Propiedades - Manejo de redes sociales</p>
             <p class="segundo">2016 - Actualmente</p>
             </aside>
           </div>
           
        </li>

    </ul>
   
    

 </div>
